@model Sistemas_de_Turnos_Medico.Models.Especializacion

@{
    ViewData["Title"] = "Borrar";
}

<div style="max-width: 600px; margin: auto;">
    <h1>Borrar</h1>

    <div class="border border-danger border-3 rounded text-center" style="padding: 5px; margin: 10px">
        <i class="bi bi-exclamation-triangle-fill" style="color:red; font-size: 50px;"></i>
        <h3 class="fw-bold">
            ¿Estás seguro que quieres eliminar esto?
        </h3>
        <hr />
        <dl class="row row-cols-2">
            <dt class = "col">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col" style="text-align: start;">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class = "col">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class="col" style="text-align: start;">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
        </dl>
        <h7 class="text-danger">¡No podrás recuperarla de vuelta una vez eliminada!</h7>
    </div>
    <form asp-action="Delete" class="d-flex justify-content-evenly">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i> Eliminar</button>
        <a asp-action="Index" class="btn btn-dark"><i class="bi bi-caret-left"></i> Regresar</a>
    </form>
</div>
