@model Sistemas_de_Turnos_Medico.Models.Especializacion

@{
    ViewData["Title"] = "Details";
}

<div style="max-width: 600px; margin: auto;">
    <h1>Detalles</h1>

    <div class="border border-info border-3 rounded text-center" style="padding: 5px; margin: 10px">
        <h4 class="text-info" style="margin-top: 10px;">Especialización</h4>
        <hr />
        <dl class="row row-cols-2">
            <dt class = "col">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col" style="text-align: start;">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class = "col">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class="col" style="text-align: start;">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
        </dl>
    </div>
    <div class="d-flex justify-content-evenly">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning"><i class="bi bi-pencil-square"></i> Editar</a>
        <a asp-action="Index" class="btn btn-dark"><i class="bi bi-caret-left"></i> Regresar</a>
    </div>
</div>