@model Sistemas_de_Turnos_Medico.Models.Paciente

@{
    ViewData["Title"] = "Editar";
}

<div style="max-width: 450px; margin: auto;">
    <form asp-action="Edit" enctype="multipart/form-data">
        <h1>Editar</h1>

        <div class="border border-warning border-3 rounded text-center" style="padding: 10px; margin: 10px">
            <h4 class="text-warning" style="margin-top: 10px;">Paciente</h4>
            <hr />
            <div style="margin: auto; border: 2px dashed; max-width: 110px; border-radius: 50%; min-height: 100px; ">
                <img src="@(!string.IsNullOrEmpty(Model.Foto) ? "/fotos/"+Model.Foto : "")"
                     class="rounded-circle" name="imagen" id="imagen" style="max-width:100px; min-height: 100px;" />
            </div>
            <div class="row" style="margin-bottom: 1rem;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="input-group">
                    <span class="input-group-text">Nombre y Apellido</span>
                    <input asp-for="Nombre" type="text" aria-label="Nombre" class="form-control" style="text-align: start;">
                    <input asp-for="Apellido" type="text" aria-label="Apellido" class="form-control" style="text-align: start;">
                </div>
            </div>
            <div>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">Celular</span>
                    <input asp-for="Celular" class="form-control" style="text-align: start; border-radius: 0px 4px 4px 0px;" />
                    <span asp-validation-for="Celular" class="text-danger"></span>
                </div>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">DNI</span>
                    <input asp-for="DNI" class="form-control" style="text-align: start; border-radius: 0px 4px 4px 0px;" />
                    <span asp-validation-for="DNI" class="text-danger"></span>
                </div>
                <div class="input-group input-group-sm  mb-3" sytle="margin-top: 10px;">
                    <span class="input-group-text" id="basic-addon1" style="max-height: 50px; margin: auto;">Fotografía</span>
                    <input type="hidden" asp-for="Foto" />
                    <input class="form-control" type="file" value="Fotografía" id="foto" name="foto" accept="image/jpeg" style="max-height: 50px; margin: auto; border-radius: 0px 4px 4px 0px;" />

                    <span asp-validation-for="Foto" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-evenly">
            <button type="submit" class="btn btn-success"><i class="bi bi-pencil-square"></i> Modificar</button>
            <a asp-action="Index" class="btn btn-dark"><i class="bi bi-caret-left"></i> Regresar</a>
        </div>
    </form>
</div>

<style>
    .input-group {
        margin-top: 0.75rem;
    }

    .form-control {
        text-align: center;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
